<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRU_G-ESwjyDxkMK1PzJLKTCpwyyc1r6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>396159394257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningDart</string>
	<key>PROJECT_ID</key>
	<string>hakim-learning-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>hakim-learning-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396159394257:ios:4dc0afc79893d3942fc0f0</string>
</dict>
</plist>